<h1>Hola</h1>

<h1>Bienvenido, {{first_name}} {{last_name}}!</h1>

<button id="logoutBtn" type="button">Cerrar sesión</button>

<script src="js/index.js"></script>

<h2>Lista de Productos</h2>
<ul>
    {{#each products}}
    <li>{{this.title}} - {{this.description}} - Stock: {{this.stock}} - Precio: {{this.price}}</li>
    {{/each}}
</ul>